* {
    margin: 0;
    padding: 0;
}
body {
    background: #f5eee2;
}

/* Cabecera */
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: #180f0a;
}
.logo {
    width: 300px;
    margin: 3% 0 4% 15%;
}
.inicio {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #f5eee2;
    margin: 0 15% 0 0;
    transition: color 0.2s ease-in-out;
}
.inicio:hover {
    color: #d9790f;
}
.contenedor-menu {
    width: 100%;
}
.contenedor-nav-secciones {
    display: flex;
    justify-content: space-between;
    padding: 1% 20%;
    box-shadow: 0 0 10px #180f0a;
    background-color: #f5eee2;
}
.menu-desplegable {
    display: none;
}
.seccion {
    list-style: none;
    transition: all 0.2s ease-in-out;
}
.seccion a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.seccion:hover {
    transform: scale(1.2);
}
.snacks {
    color: #180f0a;
}
.vinos {
    color: #731420;
}
.especias {
    color: #d9790f;
}
.aceites {
    color: #4b6722;
}

/* Hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../img/fondo-header.jpg);
    background-size: cover;
    background-position: bottom;
}
.hero-texto {
    padding: 8% 10% 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #f5eee2;
}
.hero-texto span {
    font-weight: 600;
    margin: 0 auto;
}
.hero-img {
    width: 60%;
    margin-top: -5%;
}

/* Quienes somos */
.conocenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
}
.corazon-img  {
    width: 10%;
    margin: 5% 0 2%;
}
.conocenos-titulo {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}
.conocenos-texto {
    padding: 1.5% 24.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}
.conocenos-boton {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #f5eee2;
    border: none;
    border-radius: 12px;
    background-color: #4b6722;
    box-shadow: 0 5px 8px #180f0a73;
    transition: all 0.2s ease-in-out;
}
.conocenos-boton:hover {
    transform: scale(1.03);
    background-color: #73a257;
}
.conocenos-boton:active {
    transform: scale(1);
    background-color: #d9790f;
}

/* Footer */

.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 8%;
    background-color: #180f0a;
}
.puretaste-simbolo {
    width: 8%;
}
.redes-iconos {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-top: 10px;
}
.facebook, .instagram, .behance {
    width: 40px;
}

.pie-pagina p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: right;
    color: #f5eee2;
}

/* Tablets */
@media screen and (min-width: 786px) and (max-width: 991px) {
    body {
        background-color: #180f0a;
    }
}

@media screen and (max-width: 767px) {

    .nav-menu {
        height: 100px;
    }
    .logo {
        margin-top: 25px;
        width: 30%;
    }
    .inicio {
        display: none;
    }
    .contenedor-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        padding: 50px 10px;
    }
    .contenedor-menu:hover .contenedor-nav-secciones {
        display: block;
    }
    .contenedor-nav-secciones {
        z-index: 1;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 14px;
        padding: 20px;
        transform-origin: top;
        box-shadow: none;
    }
    .menu-desplegable {
        display: block;
        margin: auto;
        
    }
    .contenedor-menu:hover {
        background-color: #f5eee2;
    }
    .contenedor-menu:hover .linea {
        background-color: #d9790f;
    }
    .linea {
        width: 40px;
        height: 6px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #f5eee2;
        transition: all 0.2s ease-in-out;
    }
    .seccion {
        padding: 8px;
        text-align: center;
    }

    .hero-texto {
        font-size: 24px;
    }
    .hero-img {
        width: 80%;
    }
    .conocenos-texto, .conocenos-boton {
        margin-bottom: 10%;
    }
    .pie-pagina {
        justify-content: center;
    }
    .pie-pagina p {
        text-align: center;
        margin-bottom: 5%;
    }
    .puretaste-simbolo {
        margin: 5% 25%;
    }
}